body {
    background-color: aqua;
    font-family: sans-serif;
    text-align: center;
    margin: 50px auto;
    width: 500px;
}

h1 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.settings {
    text-align: left;
}

.settings label {
    display: block;
    margin-bottom: 5px;
}

#password {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
